h2 {
    text-transform: uppercase;
}

img {
    width: 100%;
}

form {
    width: 90%;
}

form > button {
    display: none;
}

.titulo-libro {
    font-size: 25px;
}

p {
    margin: 0;
}

a {
    color: #F0EDE8;
    transition: transform .2s;
    margin: 15px 0;
}

a:hover {
    text-decoration: none;
    transform: scale(1.1);
}