.contenedor-flex {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.container-fluid {
    padding: 0;
}

.sidebar {
    flex-basis: calc(20%);
    background-color: #A05344;
    padding: 15px;
    height: calc(100vh);
    border: 3px solid #734046;
    border-top: none;
}

.container-volver {
    font-size: 25px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titulo {
    font-weight: bold;
    font-size: 25px;
}

.lista-capitulos {
    font-size: 16px;
}

.lista-capitulos li {
    margin-bottom: 10px;
    padding: 5px;
}

.lista-capitulos :first-child {
    border: 3px solid #734046;
    background-color: #734046;
    border-radius: 5px;
}

.contenedor-obra {
    flex-basis: calc(80%);
    display: flex;
    flex-direction: column;
}

.barra-herramientas {
    flex-basis: 7%;
    background-color: #A05344;
    font-size: 30px;
    display: flex;
    justify-content: center;
}

.barra-herramientas i {
    margin: auto 30px;
}

.img-container {
    border: 5px ridge gray;
    height: 250px;
    width: 200px;
    margin: 25px 0;
}

.portadaObra {
    height: 100%;
    width: 100%;
}

textarea.area {
    background-color: #321F28;
    border-color: #321F28;
    color: white;
    outline: none;
}

textarea#capitulo {
    text-align: center;
    font-size: 200%;
    flex-basis: calc(15%);
}

textarea#descripcion {
    flex-basis: calc(85%);
    font-size: 100%;
}


/*i {
    display: inline-block;
    margin-left: 2.5%;
    margin-right: 2.5%;
}*/

textarea {
    resize: none;
}

button {
    background-color: #734046;
    border: none;
}

.datosObra-container {
    text-align: center;
}

.tool-list {
    display: flex;
    justify-content: center;
    flex-flow: row nowrap;
    list-style: none;
    padding: 0;
    margin: 1rem;
    overflow: hidden;
    border-radius: 10px;
}

.tool--btn {
    display: block;
    border: none;
    padding: .5rem;
    font-size: 20px;
}

#output {
    height: 400px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    margin: 1rem;
    padding: 1rem;
}