<app-navbar></app-navbar>
<div class="container-fluid contenedor-flex">
    <div class="sidebar">
        <div class="container-volver"><i class="far fa-arrow-alt-circle-left volver"></i> Volver</div>
        <div class="container">
            <div class="img-container"><img class='portadaObra' src="../../../../assets/img/metamorfosisPortada.jpg" alt="Portada de la obra"></div>
            <div class="datosObra-container">
                <p class="titulo">Titulo de Rauuul</p>
                <ul class="lista-capitulos">
                    <li>Capitulo 1: Lorem Ipsum</li>
                    <li>Capitulo 2: Lorem Ipsum</li>
                    <li>Capitulo 3: Lorem Ipsum</li>
                </ul>
            </div>
        </div>
    </div>
    <!--Fin sidebar-->
    <div class="contenedor-obra">
        <div class="barra-herramientas">
            <i class="fa fa-floppy-o" aria-hidden="true"></i>
            <i class="fa fa-bold" aria-hidden="true"></i>
            <i class="fa fa-italic" aria-hidden="true"></i>
            <i class="fa fa-superscript" aria-hidden="true"></i>
            <i class="fa fa-underline" aria-hidden="true"></i>
            <i class="fas fa-highlighter"></i>
            <i class="fa fa-align-left" aria-hidden="true"></i>
            <i class="fa fa-align-center" aria-hidden="true"></i>
            <i class="fa fa-align-right" aria-hidden="true"></i>

        </div>
        <textarea class="area" placeholder="Titulo del capítulo." id="capitulo" rows="4" cols="50"></textarea>
        <textarea class="area" placeholder="Comienza tu historia." id="descripcion" rows="4" cols="50">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis, doloremque alias quia qui reprehenderit explicabo amet assumenda ipsam nesciunt, labore aut modi quasi tempore placeat! Optio similique quasi cumque consequuntur.
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis, doloremque alias quia qui reprehenderit explicabo amet assumenda ipsam nesciunt, labore aut modi quasi tempore placeat! Optio similique quasi cumque consequuntur.
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis, doloremque alias quia qui reprehenderit explicabo amet assumenda ipsam nesciunt, labore aut modi quasi tempore placeat! Optio similique quasi cumque consequuntur.
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis, doloremque alias quia qui reprehenderit explicabo amet assumenda ipsam nesciunt, labore aut modi quasi tempore placeat! Optio similique quasi cumque consequuntur.
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis, doloremque alias quia qui reprehenderit explicabo amet assumenda ipsam nesciunt, labore aut modi quasi tempore placeat! Optio similique quasi cumque consequuntur.
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis, doloremque alias quia qui reprehenderit explicabo amet assumenda ipsam nesciunt, labore aut modi quasi tempore placeat! Optio similique quasi cumque consequuntur.
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis, doloremque alias quia qui reprehenderit explicabo amet assumenda ipsam nesciunt, labore aut modi quasi tempore placeat! Optio similique quasi cumque consequuntur.
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis, doloremque alias quia qui reprehenderit explicabo amet assumenda ipsam nesciunt, labore aut modi quasi tempore placeat! Optio similique quasi cumque consequuntur.
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis, doloremque alias quia qui reprehenderit explicabo amet assumenda ipsam nesciunt, labore aut modi quasi tempore placeat! Optio similique quasi cumque consequuntur.
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis, doloremque alias quia qui reprehenderit explicabo amet assumenda ipsam nesciunt, labore aut modi quasi tempore placeat! Optio similique quasi cumque consequuntur.
            </textarea>
    </div>
    <!--Fin de contenedor barra de herramientas y texto obra-->

</div>