.hero{
    background-image: url(../../../../assets/img/library-banner-filtered.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    backdrop-filter: blur(20px);
    height: 400px;
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    
    
}
.profile-pic{
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
    width: 100%;
    text-align: center;
    align-items: center;
    margin-top: 25px;
   
}
.profile-pic img{
    height: 200px;
    width: 200px;
    padding: 20px;
}
.profile-pic p{
    flex-basis: 40%;
    font-weight: bold;
}
.stats{
    flex-basis: 50%;
}
.info{
    display: flex;
    flex-direction: column;
    align-items: center;

}
.nav{
    background-color: #A05344;
    width: 100%;
}
.nav,.tabs{
    display: flex;
    justify-content: center;
    font-weight: bold;

}
.nav-option{
    margin: 10px;
}
.tabs{
    text-align: center;
}
.hidden{
    visibility: hidden;
}
.active{
    background-color: #9844a000;
}