
.border-cont {
  border: 1px solid white;
  border-radius: 5px;

}

.aboutMe {
  display: flex;
  justify-content: space-between;
}

.description {
  flex-basis: calc(55% - 15px);
}

.moreInfo {
  flex-basis: calc(45% - 15px);
}
