h2 {
  text-transform: uppercase;
}

img {
  height: 290px;
  border: 2px solid #F2EFEA;
  cursor: pointer;
}

.titulo-libro {
  font-size: 20px;
  font-weight: bold;
  margin-top: 3px;
}

p {
  margin: 0;
}

a.libro {
  color: #F0EDE8;
  transition: transform .2s;
  text-align: center;
  margin: 20px 0;
  position: relative;
}

a.libro:hover {
  text-decoration: none;
  transform: scale(1.1);
}

.boton-guardar {
  font-size: 30px;
  position: absolute;
  right: 55px;
  cursor: pointer;
}

.color1 {
  color: black;
  display: none;
}

a.libro:hover .color1 {
  display: unset;
}

.color1:hover {
  color: rgb(255, 0, 76);
}

.color2 {
  color: rgb(255, 0, 76);
}

.btn-editar{
  border: none;
  color: #F2EFEA;
  text-emphasis: none;
  display: inline;
  text-decoration: none;
  margin: 0 2% 0 2%;
  width: 40%;
  padding-top: 0.95%;
  padding-bottom: 0.85%;
  background-color: #E79E4F;
  position: absolute;
  right: 5%;
  bottom: -8%;
}

.anuncio {
  font-size: 20px;
  margin-top: 20px!important;
  padding: 50px;
  text-align: center;
  border: 1px solid #E79E4F;
}

a.nav-link {
  color: #E79E4F;
}