h2 {
    text-transform: uppercase;
}

img {
    height: 290px;
    border: 2px solid #F2EFEA;
}

.titulo-libro {
    font-size: 20px;
    font-weight: bold;
    margin-top: 3px;
}

p {
    margin: 0;
}

a {
    color: #F0EDE8;
    transition: transform .2s;
    text-align: center;
    margin: 20px 0;
}

a:hover {
    text-decoration: none;
    transform: scale(1.1);
}