<app-navbar></app-navbar>

<section class="my-5 container-xl">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <img class='portadaObra' src="../../../../assets/img/img-portada.jpg" alt="Portada de la obra">
            </div>
            <div class="col-sm-8">
                <h1>¡Bienvenido a Kafka!</h1>
                <h3>Descubre una nueva comunidad online de lectores y escritores de todo el mundo. Colabora, mejora y puntúa las obras de tus escritores favoritos</h3>
            </div>
        </div>
    </div>
</section>

<section class="my-5 container-xl">

    <h2>Títulos destacados</h2>

    <div class="mt-1 row">
        <a [routerLink]="['/vistaLectura']" class="col-3">
            <img class="center" src="../../../../assets/img/metamorfosisPortada.jpg" alt="">
            <p class="titulo-libro">La Metamorfosis</p>
            <p class="autor-libro">Franz Kafka</p>
        </a>
        <a [routerLink]="['/vistaLectura']" class="col-3">
            <img src="../../../../assets/img/metamorfosisPortada.jpg" alt="">
            <p class="titulo-libro">La Metamorfosis</p>
            <p class="autor-libro">Franz Kafka</p>
        </a>
        <a [routerLink]="['/vistaLectura']" class="col-3">
            <img src="../../../../assets/img/metamorfosisPortada.jpg" alt="">
            <p class="titulo-libro">La Metamorfosis</p>
            <p class="autor-libro">Franz Kafka</p>
        </a>
        <a [routerLink]="['/vistaLectura']" class="col-3">
            <img src="../../../../assets/img/metamorfosisPortada.jpg" alt="">
            <p class="titulo-libro">La Metamorfosis</p>
            <p class="autor-libro">Franz Kafka</p>
        </a>
    </div>

</section>

<section class="my-5 container-xl">

    <h2>Nuevos títulos</h2>

    <div class="mt-1 row">
        <a [routerLink]="['/vistaLectura']" class="col-3">
            <img class="center" src="../../../../assets/img/metamorfosisPortada.jpg" alt="">
            <p class="titulo-libro">La Metamorfosis</p>
            <p class="autor-libro">Franz Kafka</p>
        </a>
        <a [routerLink]="['/vistaLectura']" class="col-3">
            <img src="../../../../assets/img/metamorfosisPortada.jpg" alt="">
            <p class="titulo-libro">La Metamorfosis</p>
            <p class="autor-libro">Franz Kafka</p>
        </a>
        <a [routerLink]="['/vistaLectura']" class="col-3">
            <img src="../../../../assets/img/metamorfosisPortada.jpg" alt="">
            <p class="titulo-libro">La Metamorfosis</p>
            <p class="autor-libro">Franz Kafka</p>
        </a>
        <a [routerLink]="['/vistaLectura']" class="col-3">
            <img src="../../../../assets/img/metamorfosisPortada.jpg" alt="">
            <p class="titulo-libro">La Metamorfosis</p>
            <p class="autor-libro">Franz Kafka</p>
        </a>
    </div>

</section>

<section class="my-5 container-xl">

    <h2>Género de la semana: Suspenso</h2>

    <div class="mt-1 row">
        <a [routerLink]="['/vistaLectura']" class="col-3">
            <img class="center" src="../../../../assets/img/metamorfosisPortada.jpg" alt="">
            <p class="titulo-libro">La Metamorfosis</p>
            <p class="autor-libro">Franz Kafka</p>
        </a>
        <a [routerLink]="['/vistaLectura']" class="col-3">
            <img src="../../../../assets/img/metamorfosisPortada.jpg" alt="">
            <p class="titulo-libro">La Metamorfosis</p>
            <p class="autor-libro">Franz Kafka</p>
        </a>
        <a [routerLink]="['/vistaLectura']" class="col-3">
            <img src="../../../../assets/img/metamorfosisPortada.jpg" alt="">
            <p class="titulo-libro">La Metamorfosis</p>
            <p class="autor-libro">Franz Kafka</p>
        </a>
        <a [routerLink]="['/vistaLectura']" class="col-3">
            <img src="../../../../assets/img/metamorfosisPortada.jpg" alt="">
            <p class="titulo-libro">La Metamorfosis</p>
            <p class="autor-libro">Franz Kafka</p>
        </a>
    </div>

</section>
<app-footer></app-footer>