<div class="book-form">
  <p class="description">Descripción de la Obra</p>
  <form action="">
      <div class="form-group">
        <div class="row">
          <div class="col-sm-8 col-xl-9">
            <label class="book-label" for="title">Título</label>
            <input type="text" id="title" class="form-control">
          </div>
        </div>
        <div class="row">
          <div class="col-sm-8 col-xl-9">
            <div class="sipnosis-container">
              <label for="sipnosis" class="sipnosis-label">Sipnosis</label>
            </div>
            <div class="sipnosis-area">
              <textarea name="sipnosis" id="siparea" class="text-sipnosis"></textarea>
            </div>

          </div>
        </div>

        <div class="row">
          <div class="col-xl-9">
            <div class="genero-container">
              <label for="genero">Género</label>
              <div class="genero-select">
                <select class="form-select"  name="genero" id="genero" aria-label="Default select example">
                  <option selected>Escoge un género</option>
                  <option *ngFor="let gen of generos" value={{gen.id}}>{{gen.nombre}}</option>
                </select>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-xl-9">
            <div class="clasificacion-container">
              <label for="Clasificacion">Género</label>
              <div *ngFor="let clasi of clasificacion; let i = index" class="clasificacion-radio">
                <div class="radio-label">
                  <input type="radio" name="clasificacion-check" value={{clasi}}>

                  <label for="clasificacion-check">{{clasi}}</label>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-xl-9">
            <div class="idioma-container">
              <label for="idioma">Idioma</label>
              <div class="idioma-select">
                <select class="form-select"  name="idioma" id="genero" aria-label="Default select example">
                  <option selected>Escoge un idioma</option>
                  <option *ngFor="let idi of idioma" value={{idi}}>{{idi}}</option>
                </select>
              </div>
            </div>
          </div>
        </div>

      </div>
  </form>
</div>
<app-footer></app-footer>
